.container {
    box-sizing: border-box;
    background-color: var(--card-background);
    width: 100%;
    padding: 12px;
    border-radius: var(--card-border-radius);
    position: sticky;
    top: 10px;
}

.clearButton {
    outline: none;
    border: none;
    width: auto;
    color: var(--text-button-color);
    background-color: transparent;
    cursor: pointer;
}

.headingContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkboxesContainer {
    display: grid;
    grid-template-columns: 1f;
    row-gap: 16px;
    padding: 16px 0;
    justify-content: space-between;
}

.checkboxContainer {
    display: flex;
    column-gap: 8px;
}

.checkboxLabel {
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-content: left;
    column-gap: 12px;
}

.checkbox {
    margin: 0;
}

.checkboxLabel {
    text-transform: capitalize;
}

.budgetContainer {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.budgetInput {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    outline: none;
    border: none;
    border: 1px solid var(--card-border);
    padding: 12px 0px;
}

/* Chrome, Safari, Edge, Opera */
.budgetInput::-webkit-outer-spin-button,
.budgetInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
